@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #dadada;
}
p {
    font-size: 18px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
}
.container{
    width: 100%;
    max-width: 1920px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    padding: 10px;
    background-color: black;
}
header{
    display: flex;
}
.image-container{
    width: 200px;
}
.image-container img{
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    padding: 20px;
}

.btn{
    background: #f3f4f5;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
    text-align: center;
    color: black;
}
.projects-btn {
    background: #f80332;
}
.contact-btn {
    background: #09f755;
}
.skillset h1{
    text-align: center;
}
.django{
    width: 17px;
    display: inline;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
}
.grid-img, .grid-body {
    padding: 2rem 1rem;
}
.grid-img {
    border-radius: 5px;
}
.grid:nth-child(odd) .grid-img {
    background-color: #f80332;
}
.grid:nth-child(even) .grid-body {
    grid-column: 1;
    grid-row: 1;
}
.grid:nth-child(even) .grid-img {
    background-color: #09f755;
    grid-column: 2;
}
.grid-img img{
    width: 100%;
}